# See http://help.github.com/ignore-files/ for more about ignoring files.

# compiled output
dist
**/dist/
tmp
/out-tsc

# dependencies
node_modules
**/node_modules/

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace

# Local History for Visual Studio Code
.history/

# Common credential files
**/credentials.json
**/client_secrets.json
**/client_secret.json
*.dat
*.httr-oauth*

# Terraform development
**/.terraform.lock.hcl
**/.terraform
**/terraform.tfstate
**/terraform.tfstate.backup

# misc
/.sass-cache
/connect.lock
**/coverage/
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings


# System Files
.DS_Store
Thumbs.db

.nx/cache

.env.local
